.token-input-list {
  display:inline-block;
  vertical-align:bottom;
}
#batchManagerGlobal #filtersList li.token-input-token {
  margin-bottom:0px !important;
  padding-top:0;
}
#batchManagerGlobal #filtersList li.token-input-input-token {
  margin-bottom:-3px !important;
}

#batchManagerGlobal .filter_dimensions .ui-slider-horizontal {
  margin:5px 0 3px 0;
  width:400px;
}

.new_smart {
  color:#00AA00;
  background-color:#C2F5C2;
  font-weight:bold;
  padding:3px 10px;
  border-radius:4px;
}

#filtersList {
  padding-left:0px;
}
#filtersList>li {
  padding:3px 0;
  border-bottom:1px dotted rgba(100, 100, 100, 0.5);
  display:block;
}
#filtersList>li>span {
  display:inline-block;
  vertical-align:middle;
}

.filter-title {
  padding-left:10px;
  width:200px;
}
.filter-title:after {
  content:" :";
}
.filter-cond {
  width:200px;
}

.filter_error {
  background-color: #FFD5DC;
  color: #FF2222;
  padding:3px 10px;
  font-weight:bold;
  border-radius:4px;
}

.count_image {
  color:#00AA00;
  background-color:#C2F5C2;
  font-weight:bold;
  padding:3px 10px;
  border-radius:4px;
}

.albumSelect {
  width:600px;
}
  .chzn-container {
    font-size:12px !important;
  }
  .chzn-choices li {
    margin-bottom:1px !important;
    padding: 3px 20px 3px 5px !important;
    border-bottom-style:solid !important;
  }
  .search-field {
    border-width:0px !important;
  }
  .chzn-choices .search-field input {
    padding-bottom:1px !important;
  }